In [17]:
import pandas as pd
import numpy as np
from sklearn  import linear_model

In [18]:
A = pd.read_csv("C:\\Users\\Shrutika\\Desktop\\etl hive\\DS_py\\datasets\Home_prices.csv")

In [19]:
A

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [20]:
import math
median_Bedroom = math.floor(A.Bedroom.median())
median_Bedroom

3

In [21]:
A.Bedroom = A.Bedroom.fillna(median_Bedroom)

In [22]:
A

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [24]:
reg = linear_model.LinearRegression()
reg.fit(A[['Area','Bedroom','Age']],A.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [25]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [26]:
reg.intercept_

383724.9999999998

In [32]:
reg.predict([[3000,3,40]])

array([444400.])

In [33]:
137.25*3000 + -26025*3 + -6825*40 +383724.9999999998

444399.9999999998