# regression

In [2]:
import pandas as pd

In [3]:
dataFrame=pd.read_csv("C:\\Users\\Shrutika\\Downloads\\50_Startups.csv")

In [8]:
dataFrame[1:10]

         RND      ADMIN        MKT       STATE     PROFIT
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94
5  131876.90   99814.71  362861.36    New York  156991.12
6  134615.46  147198.87  127716.82  California  156122.51
7  130298.13  145530.06  323876.68     Florida  155752.60
8  120542.52  148718.95  311613.29    New York  152211.77
9  123334.88  108679.17  304981.62  California  149759.96

In [9]:
dataFrame.corr()

             RND     ADMIN       MKT    PROFIT
RND     1.000000  0.241955  0.724248  0.972900
ADMIN   0.241955  1.000000 -0.032154  0.200717
MKT     0.724248 -0.032154  1.000000  0.747766
PROFIT  0.972900  0.200717  0.747766  1.000000

In [12]:
x=dataFrame[["RND","MKT"]]
y=dataFrame[["PROFIT"]]

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

# MLR model

In [66]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

model_lm=lm.fit(xtrain,ytrain)
pred=model_lm.predict(xtest)6

from sklearn.metrics import mean_absolute_error
MAE_lm=mean_absolute_error(ytest,pred)

# Ridge model

In [67]:
from sklearn.linear_model import Ridge,Lasso
rr=Ridge()

pram = {"alpha" : [i for i in range(1,10,1)]}

from sklearn.model_selection import GridSearchCV
cv_rr= GridSearchCV(rr,pram,scoring="neg_mean_squared_error",cv=4)

model_rr=rr.fit(xtrain,ytrain)
pred = model_rr.predict(xtest)

MAE_rr=mean_absolute_error(ytest,pred)

# Lasso model

In [68]:
lso=Lasso()

params = {"alpha":[i for i in range(1,10,1)]}

from sklearn.model_selection import GridSearchCV
cv_lso = GridSearchCV(lso,params,scoring="neg_mean_squared_error",cv=4)

model_lso = lso.fit(xtrain,ytrain)
pred = model_lso.predict(xtest)

MAE_lso = mean_absolute_error(ytest,pred)

In [69]:
print(MAE_lm)
print(MAE_rr)
print(MAE_lso)

7622.481002995596
7622.48100300653
7622.48100377555